a{
    text-decoration: none !important;
    color: black !important;
    list-style: none !important;
}
a :hover{
    text-decoration: none !important;
    color: blue !important;
    list-style: none !important;
}

.footerContainer {
    /* background-color: #FFDEE9; */
    /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
    margin-top: 2%;
    height: 100%;
    width: 80%;
    margin: "auto";
    text-align: center;
    margin-left: -10px;
    margin-bottom: -20%;
    /* align-items: center; */
   
}
.footerContainer h3{
    margin-top: 5%;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerContainer ul li{
    text-decoration:none !important;
    /* float: left; */
    list-style: none;
    color: red;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerLinks:hover{
    text-decoration: underline;
    color: red;
}
.Copyright{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.Copyright span{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #333;
}
.socialmedialinks:hover{
    color: aqua;
    cursor: pointer;
}